@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&family=Cinzel:wght@400;600;700;900&family=Peddana&family=Satisfy&family=Tilt+Prism&family=Yanone+Kaffeesatz:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bde0fe;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 10px 20px;
    background-color: #ffffff;
}
.logo{
    font-size: 30px;
    color: #168aad;
    font-family: 'Tilt Prism', cursive;
}
.list ul{
    display: flex;
    gap: 40px;
    list-style: none; 
}
.link{
    color: #2ec4b6;
    text-decoration: none;
    font-size: 20px;   
    font-weight: bold; 
}

.link:hover{
    border-radius: 30%;
    background-color: #000000;
    padding: 05px;       
}
.rout{
    border-radius: 50px;
    background-color: #001524;
    padding: 05px;   
}
/* Index Main */
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0 30px;
}
.heading{
    color:#124559;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 50px;
}
.paragraph{
    color:#124559;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
.btn{
    font-size: 30px;
    text-align: center;
    border-radius: 40px;
    background-color: #90a8c3;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    cursor:pointer;
}
.img{
    width: 100%;
    height: 90vh;
}

/* Blog styles */
.blog h1{
    color:#124559;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 50px; 
}
.blog p{
        color:#124559;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 25px;
        font-weight: 500;
        margin-top: 20px;
        padding: 0 50px;
}
/* Letests posts */
.heading-1{
    color:#124559;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 50px; 
}
.posts{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding: 0 20px;
    margin-top: 30px;
    
}
.posts img{
    width: 90%;
    height: 20em;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #003bfab9;
    margin-bottom: 50px;
}

/* About */
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.myself h2{
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    color:#124559;
}
.myself p {
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
    color:#124559;
}
.imag{
    width: 100%;
}
/* Contact */
.contact{
    background-color: #3a86ff;
    height: 90vh;
}
.form{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #8ecae6;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
}
form input, 
form textarea{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid  #8ecae6;
        border-radius: 5px;
}

@media only screen and (min-width:300px)and (max-width:600px){
        .list ul{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap:4px;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            align-items: center;
        }
        .paragraph{
            text-align: center;
        }
        .posts{
            display: grid;
            grid-template-columns:repeat(2,1fr);
        }
        .imag{
            width: 100%;
        }
        .btn{
            margin-bottom: 50px;
        }
        .myself{
            text-align: center;
        }
        .myself h2{
            font-size: 30px;
            margin-top: 30px;
        }
}
